.main{
  grid-area: main;
  margin-block: 2.625rem 5rem;

  & > :not(.hidden){
    animation: show 2s forwards;
  }

  & > .hidden{
    display: none;
  }
  
  & h2{
    font: var(--label-md);
    text-transform: uppercase;
    margin-bottom: .125rem;

    &.txt-center{
      text-align: center;
    }
    &.mg-top{
      margin-top: 1.75rem;
    }
  }

  & p{
    font: var(--p-md);
    color: var(--content-tertiary);
  }

  & span{
    font: var(--overline);
    text-transform: uppercase;
    text-align: center;

    display: block;
    color: var(--content-secondary);
    margin-top: .25rem;
  }
}

.btn-wrapper{
  background: var(--background-tertiary);
  border-radius: .5rem;
  padding: .125rem;

  &#btnAgain{
    background: transparent;
    & > .btn{
      opacity: 0;
      animation: show 2s var(--delay) forwards;
    }
  }

  & > .btn{
    background: var(--background-tertiary);
    border: none;
    border-radius: .4375rem;
    width: 100%;
    height: 3.5rem;

    font: var(--label-sm);
    color: var(--content-primary);
    text-transform: uppercase;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;

    transition: background 500ms ease-in-out;

    & > img{
      transition: transform 350ms ease-in-out;
    }
  }

  &:has(:hover){
    animation: alternativeGradient 700ms infinite;

    & > .btn{
      background: var(--background-secondary);

      & > img[src*="arrow"]{
        transform: translateX(.625rem);
      }

      & > img[src*="again"]{
        transform: rotate(360deg);
      }
    }
  }
}

@media screen and (width >= 1024px) {
  .main{
    margin-block: 0;
    align-self: center;
  }
}

@keyframes show {
  0%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}

@keyframes alternativeGradient {
  0%{
    background: linear-gradient(90deg, var(--gradient-border));
  }
  12.5%{
    background: linear-gradient(135deg, var(--gradient-border));
  }
  25%{
    background: linear-gradient(180deg, var(--gradient-border));
  }
  37.5%{
    background: linear-gradient(225deg, var(--gradient-border));
  }
  50%{
    background: linear-gradient(270deg, var(--gradient-border));
  }
  62.5%{
    background: linear-gradient(315deg, var(--gradient-border));
  }
  75%{
    background: linear-gradient(360deg, var(--gradient-border));
  }
  87.5%{
    background: linear-gradient(45deg, var(--gradient-border));
  }
  100%{
    background: linear-gradient(90deg, var(--gradient-border));
  }
}