#results{
  margin-block: 2.5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;

  & > .number{
    display: flex;
    justify-content: center;
    align-items: center;

    font: 700 3rem/1.5 "Roboto Mono", sans-serif;
    position: relative;
    z-index: 100;

    color: var(--content-brand);
    width: 5.25rem;
    height: 6.25rem;
    
    transform: scale(0);
    opacity: 0;
    animation: showNumber 2.25s var(--delay) forwards;

    &::before{
      content: "";
      display: block;
      width: 5.75rem;
      height: 5.75rem;
    
      background-color: var(--content-brand);
      border-radius: 1.75rem;
      position: absolute;
      z-index: -1;

      animation: showBefore 2.25s var(--delay) forwards;
    }
  }
}

@keyframes showNumber{
  0%{
    transform: scale(0);
    opacity: 0;
    color: var(--content-brand);
  }
  10%{
    transform: scale(0);
    opacity: 0;
    color: var(--content-brand);
  }
  30%{
    transform: scale(1.1);
    opacity: 1;
    color: var(--content-brand);
  }
  50%{
    transform: scale(1.1);
    opacity: 1;
    color: var(--content-brand);
  }
  90%{
    transform: scale(1.1);
    opacity: 1;
    color: var(--color-inverse);
  }
  100%{
    transform: scale(1);
    opacity: 1;
    color: var(--content-brand);
  }
}

@keyframes showBefore{
  0%{
    transform: scale(0);
    rotate: 0deg;
  }
  30%{
    transform: scale(1);
    opacity: 1;
    rotate: 0deg;
  }
  35%{
    transform: scale(1);
    opacity: 1;
    rotate: 0deg;
  }
  40%{
    transform: scale(1);
    opacity: 1;
    rotate: 18deg;
  }
  45%{
    transform: scale(1);
    opacity: 1;
    rotate: 36deg;
  }
  50%{
    transform: scale(1);
    opacity: 1;
    rotate: 54deg;
  }
  55%{
    transform: scale(1);
    opacity: 1;
    rotate: 72deg;
  }
  60%{
    transform: scale(1);
    opacity: 1;
    rotate: 90deg;
  }
  65%{
    transform: scale(1);
    opacity: 1;
    rotate: 108deg;
  }
  70%{
    transform: scale(1);
    opacity: 1;
    rotate: 126deg;
  }
  75%{
    transform: scale(1);
    opacity: 1;
    rotate: 144deg;
  }
  80%{
    transform: scale(1);
    opacity: 1;
    rotate: 162deg;
  }
  85%{
    transform: scale(1);
    opacity: 1;
    rotate: 180deg;
  }
  90%{
    transform: scale(1);
    opacity: 1;
    rotate: 180deg;
  }
  95%{
    transform: scale(1);
    opacity: .5;
    rotate: 180deg;
  }
  100%{
    transform: scale(1);
    opacity: 0;
    rotate: 180deg;
  }
}