#results{
  margin-block: 2.5rem;
  display: flex;
  justify-content: center;
  gap: .25rem;

  & > .number{
    width: 5.25rem;
    height: 6.25rem;

    display: flex;
    justify-content: center;
    align-items: center;

    font: 700 3rem/1.5 "Roboto Mono", sans-serif;
    position: relative;
    z-index: 100;

    animation: showNumber 3s forwards;

    &::before{
      content: "";
      display: block;
      width: 6.25rem;
      height: 6.25rem;
    
      background-color: var(--content-brand);
      border-radius: 1.75rem;
      position: absolute;
      z-index: -1;

      animation: showBefore 3s forwards;
    }
  }
}

@keyframes showNumber{
  0%{
    scale: 0;
    color: var(--content-brand);
  }
  55%{
    scale: 1.1;
    color: var(--content-brand);
  }
  60%{
    scale: 1.1;
    color: var(--color-inverse);
  }
  65%{
    scale: 1.1;
    color: var(--color-inverse);
  }
  75%{
    scale: 1.1;
    color: var(--color-inverse);
  }
  85%{
    scale: 1.1;
    color: var(--color-inverse);
  }
  95%{
    scale: 1.1;
    color: var(--color-inverse);
  }
  100%{
    scale: 1;
    color: var(--content-brand);
  }
}

@keyframes showBefore{
  0%{
    scale: 0;
    rotate: 0deg;
  }
  30%{
    scale: 1.1;
    opacity: 1;
    rotate: 0deg;
  }
  35%{
    scale: 1.1;
    opacity: 1;
    rotate: 0deg;
  }
  40%{
    scale: 1.1;
    opacity: 1;
    rotate: 18deg;
  }
  45%{
    scale: 1.1;
    opacity: 1;
    rotate: 36deg;
  }
  50%{
    scale: 1.1;
    opacity: 1;
    rotate: 54deg;
  }
  55%{
    scale: 1.1;
    opacity: 1;
    rotate: 72deg;
  }
  60%{
    scale: 1.1;
    opacity: 1;
    rotate: 90deg;
  }
  65%{
    scale: 1.1;
    opacity: 1;
    rotate: 108deg;
  }
  70%{
    scale: 1.1;
    opacity: 1;
    rotate: 126deg;
  }
  75%{
    scale: 1.1;
    opacity: 1;
    rotate: 144deg;
  }
  80%{
    scale: 1.1;
    opacity: 1;
    rotate: 162deg;
  }
  85%{
    scale: 1.1;
    opacity: 1;
    rotate: 180deg;
  }
  90%{
    scale: 1.1;
    opacity: 1;
    rotate: 180deg;
  }
  100%{
    scale: 1;
    opacity: 0;
    rotate: 180deg;
  }
}