*, *::after, *::before{
  box-sizing: border-box;
}

*{
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root{
  --content-primary: #FFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;
  --background-primary: #020202;
  --background-secondary: #111012;
  --background-tertiary: #24222E;
  --background-brand: #C58DE7;
  --background-gray: #3D3D3D;
  --accent-pink: #D586E0;
  --accent-blue: #91A1FA;
  --accent-green: #77C0AF;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;
  --gradient-border: #77C0AF 0%, #D1DC97 14.84%, #E9A9B3 32.15%, #D586E0 65.79%, #91A1FA 84.58%;
  --gradient-background: #D586E0 0%, #91A1FA 98.93%;
  --gradient-content: 90deg, #C6C8CB 0%, #818283 100%;

  --ff-base: "Roboto Flex", sans-serif;
  --ff-special: "Sora", sans-serif;

  --display-lg: 800 4.5rem/1.3 var(--ff-special);
  --display-md: 800 2.5rem/1.3 var(--ff-special);
  --display-sm: 700 2rem/1.3 var(--ff-special);
  --overline: 700 1rem/1.5 "Roboto Mono", sans-serif;
  --p-lg: 500 1rem/1.5 var(--ff-base);
  --p-md: 500 .875rem/1.5 var(--ff-base);
  --p-sm: 500 .75rem/1.5 var(--ff-base);
  --label-md: 700 1.25rem/1.5 var(--ff-base);
  --label-sm: 700 1rem/1.5 var(--ff-base);
}

html, body{
  width: 100%;
  height: auto;
  min-height: 100vh;

  background: var(--background-primary) url("../assets/img/bg.png") top;
  color: var(--content-primary);
  font: var(--p-lg);
}

body{
  padding: 2.75rem 2.25rem;

  & > img.logo{
    display: block;
    margin-inline: auto;
  }
}

img{
  vertical-align: top;
}

#app{
  width: min(100%, 20.5rem);
  margin-inline: auto;

  display: grid;
  grid-template-areas: 
  "header"
  "main"
  "questions";
}

ul{
  list-style-type: none;
}